{% extends 'plateforme/index.html' %} {% block content %}
<div class="container border pl-4 pr-4 mb-5 mt-5">
    <h3 class="border-bottom pb-3 mb-3 mt-5">Accés béneficiers</h3>
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{message}}</div>
    {% endfor %} {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="cin">CIN</label>
            <input type="text" name="cin" id="cin" class="form-control" />
            <input class="btn btn-secondary mt-2 mb-4" type="submit" value="contact" />
        </div>

        {% if Deplomat %}
        <div class="col-md-6 mb-4">

            <div>Bonjour <strong>{{Deplomat.student_name}}</strong></div>
            <div>Numéro de série de votre diplomat <strong>{{Deplomat.serial_num}}</strong></div>
            <div>La date de recyclage est <strong>{{renewal}}</strong></div>
        </div>
        {% endif %}
    </form>
</div>
{% endblock content %}