{% extends 'plateforme/index.html' %} {% block content %} {% if messages %}
<div></div>
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{message}}</div>
{% endfor %} {% endif %}
<div class="border pl-4 pr-4 mb-4" style="min-height: 65vh">
	<div class="row p-4">
		<div class="col-md-3 text-center">
			<img class="img-fluid rounded-circle border m-2" style="width: 120px; height: 120px"
				src="{{user.user_profile.image.url}}" alt="image" />

			<div class="mt-4">
				<a class="btn btn-secondary bg-secodary" href="{% url 'editprofile' %}">Éditer le Profile</a>
			</div>
		</div>
		<div class="col-md-9 mt-3">
			<div class="user-info bg-light border p-3 mb-3">
				<p><strong>Nom d'utilisateur:</strong> {{user.username}}</p>
				<p>
					<strong> nom complet: </strong><span>{{user.first_name}} {{user.last_name}}</span>
				</p>
				<p><strong> email: </strong><span>{{user.email}} </span></p>
				{% if request.user.is_director_national %}
				<p><strong> position: </strong> directeur national</p>
				{% elif request.user.is_staff %}
				<p><strong> position: </strong>directeur</p>
				{% elif request.user.is_active %}
				<p><strong> position: </strong>formateur</p>
				{% endif %}
			</div>

			<div class="formations">
				<h5>List des formations sur cette ville :</h5>
				{% if formations %}
				<div class="list_formations">
					<ul class="list-group" style="list-style: none">
						{% for formation in formations %}
						{% if request.user.is_director_national %}
						{% if formation.accepted %}
						<li class="msg bg-light border mb-3">
							la fermation en <strong>{{formation.fromDate}}</strong> de directeur
							<strong>{{formation.president.last_name}}</strong> avec le
							formateur <strong>{{formation.teacher}} - </strong><span class="text-success">( accepté
								)</span>
							<a href="{% url 'formation_details' formation.id %}">Détails</a>
						</li>
						{% elif formation.refused %}
						<li class="msg bg-light border mb-3">
							la fermation en <strong>{{formation.fromDate}}</strong> avec le
							formateur <strong>{{formation.teacher}} - </strong>
							<span class="text-danger">( Refuse )</span>
							<a href="{% url 'edit_formation' formation.id %}">Éditer</a>
						</li>
						{% else %}
						<li class="msg bg-light border mb-3">
							la fermation en <strong>{{formation.fromDate}}</strong>de directeur
							<strong>{{formation.president.last_name}}</strong> avec le
							formateur <strong>{{formation.teacher}} - </strong>
							<a href="">En attendant...</a>
						</li>
						{% endif %}
						{% elif request.user.is_staff %}
						{% if formation.teacher == request.user %}
						{% if formation.refused == False %}
						<li class="msg bg-light border mb-3">
							la fermation en <strong>{{formation.fromDate}}</strong> avec
							<strong> Vous - </strong>
							{% if formation.accepted %}
							<a href="{% url 'formation_details' formation.id %}">Détails</a>
							{% else %} ( a respondre )
							<a href="{% url 'accept_formation' formation.id %}" class="text-success">Accepter</a>
							|
							<a href="{% url 'refuse_formation' formation.id %}" class="text-danger">Refuse</a>
							<div class="msg">
								<p>
									message de president:
									<strong>{{formation.president.last_name}}</strong>
								</p>
								<p class="border p-3">{{formation.message}}</p>
							</div>
							{% endif %}
						</li>
						{% endif %}
						{% elif formation.president == request.user %}
						{% if formation.accepted %}
						<li class="msg bg-light border mb-3">
							la fermation en <strong>{{formation.fromDate}}</strong> de directeur
							<strong>{{formation.president.last_name}}</strong> avec le
							formateur <strong>{{formation.teacher}} - </strong><span class="text-success">( accepté
								)</span>
							<a href="{% url 'formation_details' formation.id %}">Détails</a>
						</li>
						{% elif formation.refused %}
						<li class="msg bg-light border mb-3">
							la fermation en <strong>{{formation.fromDate}}</strong> avec le
							formateur <strong>{{formation.teacher}} - </strong>
							<span class="text-danger">( Refuse )</span>
							<a href="{% url 'edit_formation' formation.id %}">Éditer</a>
						</li>
						{% else %}
						<li class="msg bg-light border mb-3">
							la fermation en <strong>{{formation.fromDate}}</strong>de directeur
							<strong>{{formation.president.last_name}}</strong> avec le
							formateur <strong>{{formation.teacher}} - </strong>
							<a href="">En attendant...</a>
						</li>
						{% endif %}
						{% endif %}
						{% elif request.user.is_active %}
						<p></p>
						{% if formation.refused == False %}
						<li class="msg bg-light border mb-3">
							la fermation en <strong>{{formation.fromDate}}</strong> avec
							<strong> Vous - </strong>
							{% if formation.accepted %}
							<a href="{% url 'formation_details' formation.id %}">Détails</a>
							{% else %} ( a respondre )
							<a href="{% url 'accept_formation' formation.id %}" class="text-success">Accepter</a>
							|
							<a href="{% url 'refuse_formation' formation.id %}" class="text-danger">Refuse</a>
							<div class="msg">
								<p>
									message de president:
									<strong>{{formation.president.last_name}}</strong>
								</p>
								<p class="border p-3">{{formation.message}}</p>
							</div>
							{% endif %}
						</li>
						{% endif %}
						{% endif %}
						{% endfor %}
						{% include 'user/pagination.html' with page=formations%}
					</ul>
				</div>
				{% else %}
				<div class="list_formations">
					<p>il n'y a rien à montrer</p>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}